@import './base.css';

body {
    font-family: var(--mainFont);
}

.header {
    background-color: #fff;
    padding: 20px 0px;
    box-shadow: 0px 5px 10px #cac5c5;
}

.header .logo {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2px;
}

.header .logo img {
    width: 35px;
}

.header .logo p {
    color: var(--mainColor);
}

.auth {
    font-family: var(--subFont);
    border-radius: 10px;
    padding: 5px 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.auth .login {
    color: var(--mainColor);
    background-color: #fff;
    border: 1px solid var(--mainColor);
}

.auth .register {
    color: #fff;
    background-color: var(--mainColor);
    border: 1px solid var(--mainColor);
}
.menu {
    display: none ;
}



.navbar ul {
    display: flex; 
    flex-wrap: wrap;
    gap: 15px;
}

.navbar ul li a {
    color: #000;
}

.navbar ul li a.active {
    font-weight: 900;
}
.navbar{
    display: block;
}

@media screen and (max-width: 914px) {
    .navbar  {  
        display: none ;
        
    }
    .menu {
        
        display: block ;
    }
}
@media screen and (max-width: 560px) {
    .navbar  {  
        display: none ;
        
    }
    .menu {
        display: block ;
    }
    .auth {
        display: none;
    }
}
@media screen and (max-width: 400px) {
    .navbar  {  
        display: none ;
        
    }
    .menu {
        display: block ;
    }
    .auth {
        display: none;
    }
    .header .logo {
        font-size: small;
    }
    .header .logo img {
        width: 25px;
    }
}

.footer {
    background-color: #393E46;
    color: #fff;
}
.footer .container{
    padding:20px 0px
}
.footer .logo{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2px;
}
.footer .logo img{
    width: 25px;
}

.footer-start{
    width: 500px;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}
.icons{
    display: flex;
    gap: 10px;
}
.icons img{
    border: 1px solid #fff;
    padding:5px;
    width: 20px;
    height: 20px;
}
.footer-end{
   flex-grow: 1;
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
   
}
.footer-end-items{
  display: flex;
  flex-wrap: wrap;  
  flex-direction: column;
  gap: 10px;

}
.footer-end-items .nav{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.footer-end-items a{
    color: #fff;
}
@media screen and (max-width: 1200px) {
    .footer .row{
        gap: 10px;
    }
    .footer-end {
        width: 100%;
    }
    .footer-start {
        width: 100%;
    }
}
@media screen and (max-width: 730px) {
    
    .footer-end-items{
        width: 40%;
    }
    .footer-end{
        gap: 5px;
    }
}
@media screen and (max-width: 430px) {
    
    .footer-end-items{
        width: 90%;
    }
    .footer-end{
        gap: 5px;
    }
    }
